<!DOCTYPE html>
<html <? include html-attributes ?>>
  <head>
    <? include meta/standard ?>
    <? include installed-page-styles ?>
    <? include config ?>
    <? include anti-flicker ?>

    {% block head %}
      {{ head | safe }}
    {% endblock %}
  </head>

  <body>
    {% block body %}
      {{ body | safe }}
    {% endblock %}

    <? include pre-approved-analytics ?>
  </body>
</html>
